parameters:
    level: 6
    parallel:
        maximumNumberOfProcesses: 4
    fileExtensions:
        - php
    reportUnmatchedIgnoredErrors: false
    exceptions:
        check:
            tooWideThrowType: true

    ignoreErrors:
        -
            message: '#Function \w+ invoked with \d+ parameters, 0 required\.#'
            identifier: arguments.count
            paths:
                - */test/Unit/*
                - */test/Functional/*
                - */test/System/*
